@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
ion-nav-view .content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/bg.jpg");
  background-size: cover; }
  ion-nav-view .content-wrapper .logo {
    width: 100%;
    margin: 20px 0 20px;
    padding: 0 0 30px 0;
    display: flex;
    justify-content: center; }
    ion-nav-view .content-wrapper .logo img {
      width: 100px;
      height: 100px; }
  ion-nav-view .content-wrapper .list-wrapper {
    width: 100%;
    height: 100%;
    overflow: scroll; }
    ion-nav-view .content-wrapper .list-wrapper .player-list {
      width: 100%;
      padding: 5px;
      margin-bottom: 2px;
      background: #1c1c1c;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: space-between; }
      ion-nav-view .content-wrapper .list-wrapper .player-list .player-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 5px;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 16px; }
  ion-nav-view .content-wrapper .finished-btn {
    margin: 20px;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #387EF5;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px; }

.team-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover; }
  .team-wrapper .team-colors {
    width: 100%;
    height: 100px;
    background: pink;
    display: flex;
    justify-content: center; }
    .team-wrapper .team-colors p {
      margin: 0;
      padding: 0; }
    .team-wrapper .team-colors .color {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      font-family: "Roboto";
      font-weight: 300;
      font-size: 22px;
      text-transform: capitalize; }
    .team-wrapper .team-colors .blue {
      background-image: url("../img/blue.png");
      background-size: cover;
      color: white; }
    .team-wrapper .team-colors .white {
      background-image: url("../img/white.png");
      background-size: cover;
      color: #334871; }
  .team-wrapper .player-list-wrapper {
    position: absolute;
    top: 105px;
    width: 100%;
    height: calc(100% - 110px);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    overflow: scroll; }
    .team-wrapper .player-list-wrapper .blue-wrapper, .team-wrapper .player-list-wrapper .white-wrapper {
      width: 49%; }
      .team-wrapper .player-list-wrapper .blue-wrapper .box-style, .team-wrapper .player-list-wrapper .white-wrapper .box-style {
        width: 100%;
        height: 60px;
        background: #1c1c1c;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px; }
